.card p {
	margin-bottom: 0.5em;
}
.country-image {
	overflow: hidden;
	height: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--bs-card-cap-bg);
}
.country-image img {
	height: 90%;
	border: 1px solid var(--bs-border-color);
}
